<h4 class="my-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Sync Github List
</h4>
<table class="w-full whitespace-no-wrap">
    <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b 
        dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">Id</th>
            <th class="px-4 py-3">Name</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr class="text-gray-700 dark:text-gray-400" *ngFor="let repo of _repos">
            <td class="px-4 py-3 text-sm">
                {{repo.id}}
            </td>
            <td class="px-4 py-3 font-semibold">
                {{repo.name}}
            </td>
        </tr>
    </tbody>
</table>
<!-- <div class="flex justify-end mt-2">
    <button (click)="registerWebhook()"
        class="items-center bg-white hover:border-gray-500 text-sm font-medium border border-gray-300 rounded-lg px-4 py-2">
        Sync Github
    </button>
</div> -->